.wrapper {
    width: 100vh;
    height: 100vh;
    background: #000;
    overflow: hidden;
}
.wrapper:focus {
    outline: none;
    box-shadow: none;
}
bb
.tetris {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    margin: 0 auto;
    max-width: 900px;
}

.tetris aside {
    width: 100%;
    max-width: 200px;
    display: block;
    padding: 0 20px;
}

.stage {
    display: grid;
    grid-gap: 1px;
    border: 2px solid #333;
    width: 100%;
    max-width: 25vw;
    background: #111;
}

.cell {
    width: auto;
}

.display {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 20px;
    border: 4px solid #333;
    min-height: 30px;
    width: 100%;
    border-radius: 20px;
    color: #999;
    background: #000;
    font-size: 0.8rem;
}

.display.gameover {
    color: 'red'
}

.start-button {
    box-sizing: border-box;
    margin: 0 0 20px 0;
    padding: 20px;
    min-height: 30px;
    width: 100%;
    border-radius: 20px;
    border: none;
    color: white;
    background: #333;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    text-align: center;
}